body {
    background-color: #394c59;
    color: #c9c9c9;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: black;
    line-height: 400%;
    color: #c9c9c9;
    text-indent: 1em;
    background-image: url(logo.png);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
}

main {
    display: block;
    overflow: auto;
    background-color: #303030;
    line-height: 120%;
}

h1 {
    margin-bottom: 0;
}

h2 {
    margin-left: .5em;
}

h4 {
    padding-left: .5em;
}

p {
    margin-left: .5em;
}

section {
    float: left;
    width: 40%;
    margin-left: 3em;
    margin-right: 3em;
}

nav {
    background-image: linear-gradient(to right, #202020, #303030);
    background-color: #202020;
    margin-top: 0;
    margin-bottom: 1em;
    line-height: 150%;
    width: 50%;
}

nav a {
    text-decoration: none;
    color: #c9c9c9;
    padding: .5em;
    transition: background-color 2s ease-out;
}

nav a:hover {
    color: #ffffff;
    background-color: #7093a1;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
    border-right: 1px solid #ffffff;
}

footer {
    text-align: center;
    font-size: 80%;
    padding-bottom: 1em;
}

footer a {
    color: #c9c9c9;
}

footer a:hover {
    color: #ffffff;
}

img {
    margin: .5em;
}

hr {
    margin-left: 2em;
    margin-right: 2em;
}

label {
    float: left;
    display: block;
    text-align: right;
    width: 140px;
    padding-right: 5px;
    padding-left: .5em;
}

table {
    border: 1px solid #c9c9c9;
    border-collapse: collapse;
    background-color: #404040;
    margin: auto;
    color: #eeeeee;
}

td, th {
    padding: .5em;
    border: 2px solid #c9c9c9;
}

td {
    text-align: center;
}

input, textarea {
    display: block;
    margin-bottom: 20px;
}

input[type=submit] {
    margin-left: 140px;
}

.center {
    text-align: center;
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    min-width: 1000px;
    max-width: 2048px;
    background-color: #303030;
    box-shadow: 3px 3px 3px #202020;
}

#structures {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 1em;
}

#about {
    overflow: auto;
}